################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azure_storage.clientapplication/bin/Debug/netcoreapp3.1
/azure_storage.clientapplication/obj
/azure_storage.core/bin/Debug/netstandard2.1
/azure_storage.core/obj

bin/
obj/
